body {
	font-family: Arial;
	font-size: 12pt;
}

#wrapper {
	background-color: #eee;
	border: 1px solid #ddd;
	width: 700px;
	height: 300px;
	margin: 0 auto;
	display: table;
}

#messages {
	height: 200px;
	overflow: auto;
}

.message {
	padding-bottom: .3em;
}

.message .username {
	width: 100px;
	display: block;
	float: left;
}

.message .message-body {
	display: block;
	margin-left: 100px;
	padding-left: 1em;
	border-left: 1px solid #ddd;
}

.message .username:after {
/*	content: ': ';*/
}

#splash_screen {
	height: 100%;
	padding-bottom: 20px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;

	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: center;
	-moz-box-align: center;

	display: box;
	box-orient: horizontal;
	box-pack: center;
	box-align: center;
}